body{
    background-image: url(./crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__crews{
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.crew__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-bottom: 1px solid rgba(128, 128, 128, 0.548);
}
.crew__carousel{
    text-align: center;
}

.crew__Information{
    text-align: center;
    color: #fff;
}
.role {
    color: rgb(128, 128, 128);
    font-size: 1rem;
}
.name{
    font-size: 1.2rem;
}
.bio{
    font-size: .8rem;
}
.Information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}