*{
    margin: 0;
    padding: 0;
}
/* background Images Body */
body{
    background-image: url(./home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#toggle_menu{
    border: none;
    background-color: transparent;
}
/* header navigation placeholder */
header div{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 1rem auto;
}
nav{
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    height: 100vh;
    /* background-color: steelblue; */

    padding: min(30vh, 10rem) 2em;
    background: hsl(0, 0%, 100% , .1);
    backdrop-filter: blur(.5em);

    color: #fff;
}