@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}
p{
    font-weight: 100!important;
    line-height: normal;
}
h1{
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 10px;
}
/* Toggle for mobile Menu */
#toggle_menu{
    display: block;
    border: none;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    right: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    background-repeat: no-repeat;
    background-image: url(./shared/icon-hamburger.svg);

}
/* Place holder of every content */
.container {
    max-width: 95%;
    margin: 2rem auto;
}
/* header navigation placeholder */
header div{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 1rem auto;
}
/* Container for Menu navigation links in mobile */
nav{
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    height: 100vh;

    padding: min(30vh, 10rem) 2em;
    background: hsl(0, 0%, 0% , .75);
    backdrop-filter: blur(.5em);

    text-transform: uppercase;
    color: #fff;

    transform: translateX(100%);
    transition: .5s;
}
.primary_nav[data-visible="true"] {
    transform: translateX(0%);
}
@supports (backdrop-filter: blur(1rem)) {
    nav{
        background: hsl(0, 0%, 100% , .1);
        backdrop-filter: blur(.5em);
    }
}
/* The unordered list */
#main_menu {
    display: flex;
    flex-direction: column; /*This is only for mobile*/
    gap: 2rem;
}
#main_menu a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
#main_menu span{
    font-weight: 800;
}

li {
    display: flex;
    gap: 1.5em;
}
/* Content Sections */
/* Is located at index.css */
hr{
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background-color: gray;
}